*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.slidecontainer {
  width: 100%; /* Width of the outside container */
  margin: auto;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 10px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  transition: .5s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
  transition: .5s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 60px; /* Set a specific slider handle width */
  height: 60px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
  transition: .5s;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
  transition: .5s;
}

.header{
  position: relative;
  z-index: 3;
  width: 100%;
  height: 70px;
  background-color: #ffff;
}

.header_cont{
  
  width: 90%;
  margin: 0 auto;
}

.header_title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.header_title h1{
  position: absolute;

  padding-top:20px;
  font-family: 'Montserrat', sans-serif;
  text-align:center;
  font-weight: 550;
  padding-top: 6px;
  font-size: 35px;
}

.header_title .fire{
  font-weight: 550;
  color: rgb(202, 38, 38);
}
.header_title .beta{
  color: rgb(0, 0, 0);
  font-size: 20px;
}
.logo{
  display: inline;
  width:55px ;
  height:55px ;
}

.container-fluid{
  float: right;
}
.col{
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  text-align: center;
  border-left: solid 1px;
  background-color: #cccccc99;
}
.col:hover{
  padding-top:8px;
  text-align: center;
  border-left: solid 1px;
  cursor: pointer;
  transition: .3s;
  background-color: #ffffff;
  opacity: 1;
}
.col:not(:hover){
  text-align: center;
  opacity: .4;
  border-left: solid 1px;
  transition: .5s;
}
.col:active{
  
  padding-top: 10px;
  text-align: center;
  /* border-left: solid 1px; */
  cursor: pointer;
  transition: .5s;
  border: 1px solid black;
  background-color: #ffffff;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
    margin-top: 0px;
    margin-bottom: 0;
    font-weight: 500;
    line-height: 1.2;
}
span{
  font-weight: 100;
}


h4:hover{
  font-size: 27px;
  transition: 0.4s;
}